.mini_profile{
    float: right;
    margin-top: 15px;
    color:#fff;

    .name_profile{
        font-size: 22px;
        float: right;
        text-align: right;
        @include no_select();
        @include fadeIn($duration:2.5s);
    }

    .institution{
      font-family: $font-family-light !important;
      font-size: 16px;

    }

    .photo_profile{

        float: right;
        width: 55px;
        height: 55px;
        margin-left: 10px;
        background-color: $brand-primary;
        @include fadeIn();
        @include transition();

    }

    .arrow_profile{
        float: right;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
        @include align_comps();
        @include transition();
         &:hover{
             opacity: 0.5;
         }
    }
    
}
