<div class="mini_profile" onclick="show_hide(`teste`,`temp_area_profile`)">
    <div class="arrow_profile">
        <i class="ti-angle-down"></i>
    </div>

    <!-- Component photo_profile -->
    <span id="component_photo_profile"></span>

    <div class="name_profile">
        Viviane
        <div class="institution">Nome da Instituição</div>
    </div>
</div>