.roadbar {
    // display: none;
    background-color: #fff;
    @include shadow($type:extra);
    @include fadeInDown($delay:0.05s, $duration: 0.8s);
    height: 88px;
    position: sticky;
    position: -webkit-sticky;
    top:0px;
    z-index: 4;
    margin-bottom: 20px;
    @include transition($pointer:false);



    a {
        text-decoration: none;

        i {
            margin-right: 5px;
            @include transition();
            
        }
    }

   .router{
       font-family: $font-family-light !important;
       margin-top: 5px;
       float: left;
       margin-left: 10px;
       color: #555555;
       @include no_select();
      


       .router_text{
        font-family: $font-family-light !important;
        font-size: 25px;
        @include transition();
       

        &:hover, a:hover{
            color: $gray-light;
            margin-left: 5px;
        }
        
    }

        i{
            color: $gray;
            font-size: 18px;

        }

        .router_small{
            margin-left: 28px;
            margin-top: -7px;
            @include transition();
            @include fadeInDown();
        
            a:link , a:visited, a:active {
            color: $gray;
            }

            a:hover {
                color: $brand-primary;
            }
    
        }  
   } 
   
   .color_manager{
       background-color: $color-manager !important;
   }
}
@media only screen and (max-width: $screen-sm) {
    .roadbar {
        height: 60px;

        .router_small{
            display: none;
        }
    }
    .router_text{
            font-size: 18px !important;
    }
}