<div class="roadbar" id="temp_roadbar" hidden>


        <!-- Comp Menu Left -->
        <div class="left_menu">
            <h4>
                <i class="fa fa-lg fa-th"></i>
            </h4>
        </div>
        <!-- End Comp Menu Left -->

        <div class="router">
            <h4 onclick="show_hide(`temp_roadbar `,`temp_jumbo_banner`);">
                <i class="ti-angle-left"></i>
                <span class="router_text">Bem-Vindo Viviane</span>
            </h4>

            <div class="router_small">
                <ol class="breadcrumb"> 
                    <li class="active">Área Inicial</li>
                    <!-- <li><a href="#">Disciplinas</a></li> -->
                </ol>
            </div>
            
        </div>

        <!-- Comp Button Scroll Top -->

        <!-- <div class="button_scroll_top hidden-sm hidden-xs" id="temp_button_scroll_top">
            <i class="ti-angle-up"></i>
        </div> -->

        <!-- End Comp Button Scroll Top -->

</div>