

<div class="jumbo_banner banner1" id="temp_jumbo_banner" onclick="show_hide(`temp_jumbo_banner`,`temp_roadbar`);">
        <!-- Comp step -->
        <div class="container banner_area">
            <div><h3>Primeiro passo</h3></div>
            <div><h2>Cadastrar seus Alunos</h2></div>
            <span>Um ótimo começo, vamos cadastrar seus alunos.</span>
            <div><button class="btn btn-primary bt_banner" onclick="show_hide(`temp_jumbo_banner`,`temp_roadbar`);">Cadastrar Alunos</button> <button class="btn btn-link bt_banner2" onclick="show_hide(`temp_jumbo_banner`,`temp_roadbar`);">Depois</button></div>
        </div>
         <!-- End Comp step -->
        <!-- <video autoplay muted loop id="myVideo">
                <source src="assets/videos/cover.mp4" type="video/mp4">
        </video> -->      
</div>