.jumbo_banner{

    width: 100%;
    height: 300px;
    background-color: #000;
    overflow: hidden;
    color:#fff;
    background-image: url("../../../assets/imgs/banner4.jpg");
    background-repeat: no-repeat;
    background-size: 104% auto;
    background-position: center center;
    @include no_select();
    @include fadeInLeft();
    @include transition($duration:0.4s);
    &:hover{
       background-position: left center;
       padding-left: 20px;
        
    }

    
    
    h2{
      
        font-weight: bold;
        line-height: 0.9;
        font-size: 45px;
        @include transition();

        span{
            color: rgb(248, 110, 156);
            text-shadow: 2px 2px 8px rgba(000,000,000,0.3);
        }
    }
    h3{
        margin-top: 70px;
        line-height: 0.3;
        font-size: 22px;
        @include transition();

        span{
            color: rgb(248, 110, 156);
        }
    }

    .bt_banner{
       margin-top: 20px;
       min-width: 150px;
       min-height: 40px;
       @include transition();
    }

    .bt_banner2{
        margin-top: 20px;
        min-height: 40px;
        color: #fff;
        @include transition();
        &:hover, &:active, &:visited, &:link{
            text-decoration: none !important;
            opacity: 0.5;
        }
    }

    #myVideo {
        position: relative;
        right: 100px;
        top: -300px;
        min-width: 120%; 
        min-height: 120%;
        opacity: 1;
    }

    .banner_area{
        position: relative;
        top: 0%;
        left: 5%;
        z-index: 4;
        height: 300px;
        @include fadeInLeft($delay:0.2s);
    }

    @media only screen and (max-width: $screen-sm) {

            height: 200px;
        
        h2{
            font-size: 25px;
            line-height: 0.1;
        }
        h3{
            font-size: 16px;
            margin-top: 30px;
            line-height: 0.9;
        }
    }
}


.jumbo_vertical_mode{
    height: 100% !important;

    .banner_area{
       // position: relative;
        top: 25%;
    }
}



.banner1{
    background-image: url("../../../assets/imgs/banner1.jpg");
    background-position: center center;
}

.banner2{
    background-image: url("../../../assets/imgs/banner2.jpg");
    background-position: center center;
}

.banner3{
    background-image: url("../../../assets/imgs/banner3.jpg");
    background-position: center center;
}


