<a href="#notification_area" data-toggle="collapse">
    <div class="notification_bell new_bell" data-toggle="tooltip" data-placement="left" title="5 Novas!">
        <!-- <div class="notification_bell">-->
        <i class="fas fa-bell"></i>
        <div class="new_notification_flag"></div>
    </div>
</a>