.notification_bell{
    font-size: 22px;
    height: 45px;
    cursor: pointer;
    @include fadeIn($delay:0.3s);
    .new_notification_flag{
        opacity: 0;
        position: relative;
        top:-25px;
        right: -20px;
        background-color: #fab835;
        width: 8px;
        height: 8px;
        border-radius: 200px;  
    }
    i{
        @include transition();
        opacity: 0.85;

        &:hover{
            opacity: 1;
        }
    }
}
.new_bell{
    .new_notification_flag{
        opacity: 1;
    }
    i{
        @include swing_notife($count:100, $duration:3.5s);
        @include transition();
    }
}