


.logo{

    @include rotateIn();
    @include transition();
    .st0 {fill: $color-manager;}
    .st2 {fill: $color-learn;}
    .st3 {fill: $color-publisher;}
    .st4 {fill: $color-marketplace;}
    .st5 {fill: $color-teacher;}
    .st6 {fill: $color-family;}
    .st7 {fill: $color_hub;}
  
    .st1 {
      opacity: 0.2;
      fill: #FFFFFF;
    }
    .st8 {
        fill: #FFFFFF;
    }
    
  
  }