<div class="logo">
    <?xml version="1.0" encoding="utf-8"?>
    <svg version="1.1" id="logo_aulapp_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 161 156" style="enable-background:new 0 0 161 156;" xml:space="preserve">
    
            <!-- Manager -->
            <path class="st0" d="M92.7,28.8c3-3.1,4.8-7.2,4.8-11.8c0-9.4-7.6-17-17-17s-17,7.6-17,17c0,4.1,1.4,7.8,3.8,10.7h0c0,0,0,0,0,0c0.1,0.1,0.2,0.2,0.3,0.3c1.4,1.6,7.3,8.8,7.3,14.8c0,7.7-7.6,17-7.6,17h13.2h13.1c0,0-7.5-9.3-7.5-17C86.1,37.5,90.7,31.2,92.7,28.8z" />
            <path class="st1" d="M97.3,19.2C92,17.8,86.4,17,80.6,17c-5.9,0-11.6,0.8-17,2.2c0.4,3.2,1.7,6.1,3.7,8.5h0c0,0,0,0,0,0c0.1,0.1,0.2,0.2,0.3,0.3c1.4,1.6,7.3,8.8,7.3,14.8c0,7.7-7.6,17-7.6,17h13.2h13.1c0,0-7.5-9.3-7.5-17c0-5.4,4.6-11.6,6.6-14.1C95.2,26.2,96.8,22.9,97.3,19.2z" />
            <path class="st1" d="M80.6,38.4c-2.2,0-4.3,0.2-6.4,0.5c0.4,1.3,0.7,2.7,0.7,4c0,7.7-7.6,17-7.6,17h13.2h13.1c0,0-7.5-9.3-7.5-17c0-1.3,0.3-2.7,0.7-4C84.8,38.6,82.7,38.4,80.6,38.4z"/>
    
            <!-- learn -->
            <path class="st2" d="M145.6,32.4c-5.7-7.5-16.3-9-23.8-3.3c-3.2,2.5-5.4,5.8-6.3,9.5l0,0c0,0,0,0,0,0c0,0.1-0.1,0.3-0.1,0.4c-0.4,2.1-2.6,11.1-7.4,14.7c-6.1,4.6-18.1,4.2-18.1,4.2l7.9,10.5l7.9,10.5c0,0,2.9-11.6,9-16.3c4.3-3.2,12-3.3,15.2-3.2c4.2,0.5,8.7-0.5,12.3-3.3C149.7,50.5,151.2,39.9,145.6,32.4z"/>
            <path class="st1" d="M120,30.5c-2.3,2.3-3.8,5-4.6,8l0,0c0,0,0,0,0,0c0,0.1-0.1,0.3-0.1,0.4c-0.4,2.1-2.6,11.1-7.4,14.7c-6.1,4.6-18.1,4.2-18.1,4.2l7.9,10.5l7.9,10.5c0,0,2.9-11.6,9-16.3c4.3-3.2,12-3.3,15.2-3.2c3.5,0.4,7.2-0.2,10.4-2.1C136.1,46.7,129,37.5,120,30.5z" />
            <path class="st1" d="M110.7,50.8c-0.8,1.2-1.7,2.2-2.7,3c-6.1,4.6-18.1,4.2-18.1,4.2l7.9,10.5l7.9,10.5c0,0,2.9-11.6,9-16.3c1-0.8,2.3-1.4,3.6-1.8C116.3,57.1,113.7,53.7,110.7,50.8z"/>
    
            <!-- publisher -->
            <path class="st3" d="M53.2,53.6c-4.3-3.3-6.4-10.7-7.2-13.8c-0.6-4.2-2.8-8.2-6.5-11c-7.5-5.7-18.1-4.3-23.8,3.2s-4.3,18.1,3.2,23.8c3.2,2.5,7.1,3.6,10.8,3.5l0,0c0,0,0,0,0,0c0.1,0,0.3,0,0.4,0c2.1-0.1,11.4-0.4,16.2,3.2c6.1,4.7,8.9,16.3,8.9,16.3l8-10.5l8-10.4C71.3,58,59.3,58.3,53.2,53.6z"/>
            <path class="st1" d="M20.8,57.1c2.8,1.6,5.9,2.4,9,2.3l0,0c0,0,0,0,0,0c0.1,0,0.3,0,0.4,0c2.1-0.1,11.4-0.4,16.2,3.2c6.1,4.7,8.9,16.3,8.9,16.3l8-10.5l8-10.4c0,0-12,0.3-18.1-4.3c-4.3-3.3-6.4-10.7-7.2-13.8c-0.5-3.5-2.2-6.9-4.8-9.5 C32.3,37.2,25.1,46.4,20.8,57.1z" />
            <path class="st1" d="M42.8,60.7c1.3,0.5,2.6,1.1,3.6,1.8c6.1,4.7,8.9,16.3,8.9,16.3l8-10.5l8-10.4c0,0-12,0.3-18.1-4.3c-1-0.8-1.9-1.8-2.7-3C47.4,53.6,44.8,57,42.8,60.7z"/>
        
            <!-- Market -->
            <path class="st4" d="M59.2,85.4l-2.3-12.9c0,0-7.8,9.1-15.4,10.4c-5.3,1-12.3-2.5-15-4c-3.5-2.4-7.9-3.4-12.5-2.6C4.7,78-1.4,86.9,0.3,96.1c1.7,9.2,10.5,15.4,19.8,13.7c4-0.7,7.4-2.8,9.9-5.7l0,0c0,0,0,0,0,0c0.1-0.1,0.2-0.2,0.3-0.3c1.3-1.6,7.3-8.7,13.3-9.8c7.6-1.4,18.1,4.4,18.1,4.4L59.2,85.4z"/>
            <path class="st1" d="M59.2,85.4l-2.3-12.9c0,0-7.8,9.1-15.4,10.4c-1.3,0.2-2.7,0.2-4,0c0.1,4.3,0.9,8.5,2.3,12.4c1.2-0.7,2.5-1.2,3.8-1.4c7.6-1.4,18.1,4.4,18.1,4.4L59.2,85.4z"/>
            <path class="st1" d="M56.8,72.5c0,0-7.8,9.1-15.4,10.4c-5.3,1-12.3-2.5-15-4c-2.9-2-6.5-3-10.2-2.8c-0.1,1.8-0.2,3.5-0.2,5.3c0,10,2.2,19.4,6.2,27.8c3.1-1,5.7-2.8,7.7-5.1l0,0c0,0,0,0,0,0c0.1-0.1,0.2-0.2,0.3-0.3c1.3-1.6,7.3-8.7,13.3-9.8c7.6-1.4,18.1,4.4,18.1,4.4l-2.4-13L56.8,72.5z"/>
                    
            <!-- Teacher -->
            <path class="st5" d="M147,76.4c-4-0.7-7.9,0-11.2,1.8l0,0c0,0,0,0,0,0c-0.1,0.1-0.2,0.1-0.3,0.2c-1.8,1.1-9.9,5.6-15.9,4.5c-7.6-1.4-15.4-10.5-15.4-10.5l-2.4,13l-2.4,12.9c0,0,10.5-5.7,18.1-4.4c5.3,1,10.6,6.6,12.7,9c2.5,3.5,6.2,6,10.8,6.8c9.2,1.7,18.1-4.4,19.8-13.7C162.4,86.9,156.3,78,147,76.4z"/>
            <path class="st1" d="M144.8,76.1c-3.2-0.2-6.3,0.6-9,2.1l0,0c0,0,0,0,0,0c-0.1,0.1-0.2,0.1-0.3,0.2c-1.8,1.1-9.9,5.6-15.9,4.5c-7.6-1.4-15.4-10.5-15.4-10.5l-2.4,13l-2.4,12.9c0,0,10.5-5.7,18.1-4.4c5.3,1,10.6,6.6,12.7,9c2.1,2.9,5,5.1,8.6,6.3c4-8.4,6.2-17.7,6.2-27.6C145,79.8,145,78,144.8,76.1z"/>
            <path class="st1" d="M119.5,82.9c-7.6-1.4-15.4-10.5-15.4-10.5l-2.4,13l-2.4,12.9c0,0,10.5-5.7,18.1-4.4c1.3,0.2,2.6,0.7,3.8,1.4c1.3-3.9,2.1-8.1,2.2-12.4C122.2,83.1,120.8,83.2,119.5,82.9z"/>
        
            <!-- Family -->
            <path class="st6" d="M125.2,131.1c-1.9-3.6-4.9-6.3-8.3-7.8l0,0c0,0,0,0,0,0c-0.1-0.1-0.3-0.1-0.4-0.2c-2-0.8-10.5-4.5-13.3-9.8c-3.5-6.8-1.1-18.6-1.1-18.6l-11.7,6l-11.7,6c0,0,11,4.8,14.5,11.7c2.5,4.8,1.2,12.4,0.6,15.5c-1.2,4.1-1,8.6,1.2,12.7c4.3,8.3,14.6,11.6,22.9,7.3S129.5,139.4,125.2,131.1z"/>
            <path class="st1" d="M116.9,123.3L116.9,123.3C116.9,123.3,116.9,123.3,116.9,123.3c-0.2-0.1-0.3-0.1-0.4-0.2c-2-0.8-10.5-4.5-13.3-9.8c-3.5-6.8-1.1-18.6-1.1-18.6l-11.7,6l-11.7,6c0,0,11,4.8,14.5,11.7c2.5,4.8,1.2,12.4,0.6,15.5c-1,3.4-1,7.1,0.3,10.6c11.4-2.4,21.6-7.9,29.9-15.5C122.2,126.5,119.7,124.5,116.9,123.3z"/>
            <path class="st1" d="M103.2,113.3c-3.5-6.8-1.1-18.6-1.1-18.6l-11.7,6l-11.7,6c0,0,11,4.8,14.5,11.7c0.6,1.2,1,2.5,1.2,3.9c4-1.4,7.8-3.4,11.2-5.8C104.7,115.5,103.8,114.5,103.2,113.3z"/>

            <!-- hub -->
            <path class="st7" d="M67.8,118.5c3.5-6.8,14.5-11.6,14.5-11.6l-11.7-6l-11.7-6c0,0,2.4,11.7-1.1,18.6c-2.5,4.8-9.4,8.2-12.3,9.5c-4,1.4-7.6,4.2-9.7,8.3c-4.3,8.3-1,18.6,7.3,22.9s18.6,1,22.9-7.3c1.9-3.6,2.3-7.6,1.5-11.3l0,0c0,0,0,0,0,0c0-0.1-0.1-0.3-0.1-0.4C67,132.9,65,123.9,67.8,118.5z"/>
            <path class="st1" d="M82.3,106.8l-11.7-6l-11.7-6c0,0,2.4,11.7-1.1,18.6c-2.5,4.8-9.4,8.2-12.3,9.5c-3.4,1.1-6.4,3.3-8.5,6.4c8.3,7.6,18.6,13,29.9,15.4c1.1-3,1.3-6.2,0.6-9.2l0,0c0,0,0,0,0,0c0-0.1-0.1-0.3-0.1-0.4c-0.5-2.1-2.4-11.1,0.3-16.5C71.3,111.6,82.3,106.8,82.3,106.8z" />
            <path class="st1" d="M70.6,100.8l-11.7-6c0,0,2.4,11.7-1.1,18.6c-0.6,1.2-1.5,2.2-2.5,3.2c3.4,2.5,7.2,4.4,11.2,5.8c0.2-1.4,0.6-2.7,1.2-3.9c3.5-6.8,14.5-11.6,14.5-11.6L70.6,100.8z"/>
        
        <circle class="st8" cx="80.5" cy="81.5" r="30.5" />
    </svg>   
</div>
    