
.search_bar{
    width: 100%;
    height: 30px;
    border-bottom: solid 1px #c9d8e7;
    margin-bottom: 20px;
    @include placeholder();

    .input_search{
        border:none;
        background-color: transparent;   
        width: 60%;
        opacity: 0.7;
        @include transition();
        &:hover, &:active, &:focus{
            margin-left: 3px;
            opacity: 1;
        }
    }

    .icon_search{
        font-size: 17px;
    }
    .filter_search{
        float: right;
    }
}


.filter_search{
    span{
        cursor: pointer;
        @include no_select();
        @include transition();
        &:hover{
            margin-right: 3px;
        }
    }

    i{
        margin-left: 10px;
        @include transition();
        &:hover{
            color: $brand-primary;
        }
    }
}
