<div class="search_bar">
    <i class="icon_search ti-search"></i>
    <input type="search" class="input_search" onClick="this.select();" placeholder="Procurar">


    <div class="filter_search">
        <span class="hidden-sm hidden-xs">Todas</span>
        <i class="fas fa-sliders-h" data-toggle="tooltip" data-placement="left" title="Todas a Funcionalidades"></i>
    </div>
</div>