<span class="area_not"><div class="collapse notification_area" id="notification_area">
    <button type="button" class="close" data-toggle="collapse" data-target="#notification_area">&times;</button>
    <div class="area_title">
        <i class="fas fa-bell"></i>Notificações</div>
    <div class="area_body">

        <!-- Comp item notification -->
        <div class="item_notification">
            <!-- Comp photo profile -->
            <div class="photo_profile"></div>
            <!-- End Comp photo profile -->
            <span class="atr_name">André Gaiane</span> concluiu a Curadoria do Grupo de Aulas
            <span class="atr_obj">Matemática Aplicada 1</span>
        </div>
        <!-- End Comp item notification -->

        <!-- Comp item notification -->
        <div class="item_notification">
            <!-- Comp photo profile -->
            <div class="photo_profile"></div>
            <!-- End Comp photo profile -->
            <span class="atr_name">André Gaiane</span> concluiu a Curadoria do Grupo de Aulas
            <span class="atr_obj">Matemática Aplicada 1</span>
        </div>
        <!-- End Comp item notification -->

        <!-- Comp item notification -->
        <div class="item_notification">
            <!-- Comp photo profile -->
            <div class="photo_profile"></div>
            <!-- End Comp photo profile -->
            <span class="atr_name">André Gaiane</span> concluiu a Curadoria do Grupo de Aulas
            <span class="atr_obj">Matemática Aplicada 1</span>
        </div>
        <!-- End Comp item notification -->

        <!-- Comp item notification -->
        <div class="item_notification">
            <!-- Comp photo profile -->
            <div class="photo_profile"></div>
            <!-- End Comp photo profile -->
            <span class="atr_name">André Gaiane</span> concluiu a Curadoria do Grupo de Aulas
            <span class="atr_obj">Matemática Aplicada 1</span>
        </div>
        <!-- End Comp item notification -->


    </div>
    <div class="area_bottom">Mostrar Mais
        <i class="ti-angle-down"></i>
    </div>

</div>
</span>