.area_not{
    .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
}

.notification_area{

    
    
    position: absolute;
    right: 8px;
    top: 80px;
    width: 320px;
    background-color: #2e2c2c;
    z-index: 20;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 60px;
    color:#fff;

    @include shadow($type:large);
    @include fadeInDown($duration:0.25s);

    .close{
        color: #fff !important;
        text-shadow: none;
        @include transition();
    }

    .area_title{
        border-bottom: solid 1px #3f3f3f;
        margin-bottom: 20px;
        height: 35px;
        padding-bottom: 15px;
        font-family: $font-family-light;
        @include align_comps(center,left);
        @include no_select();

        i{
            margin-right: 10px;
        }
    }

    .area_bottom{
        position: absolute;
        width: 90%;
        margin: auto;
        height: 30px;
        bottom: 10px;
        text-align: center;
        @include no_select();
        @include transition();
        &:hover{
            bottom: 13px;
        }

        i{
            margin-left: 10px;
        }
    }

    .item_notification{
        position: relative;
        width: 100%;
        min-height: 60px;
        padding: 10px;
        background-color: $body-bg;
        color: $gray;
        font-size: 13px;
        border-radius: 7px;
        margin-bottom: 15px;
        @include shadow();
        @include pulse();
        @include transition();
        &:hover{
            @include shadow($type: large);
            background-color: #fff;
            margin-left: -10px;

        }

        .photo_profile{
            width: 30px;
            height: 30px;
            float: left;
            margin-right: 10px;
        }
    }
} 
