<nav class="navbar navbar-inverse topbar">
    <a class="navbar-brand" href="#">

        <!-- Component logo -->
        <span id="component_logo"></span>

        <div class="logo_text">AULAPP</div>
    </a>

    <div class="" id="myNavbar">

        <!-- Component mini-profile -->
        <span id="component_mini_profile"></span>

        <div class="divisor_topbar"></div>

        <!-- Component Notificantion_Bell -->
        <span id="component_icon_bell"></span>
        <!-- End Component Notificantion_Bell -->

</nav>