
.topbar{
    
    border-radius: 0px;
    border: none;
    margin-bottom: 0px;
    z-index: 10;
    height: 88px;

    .logo{
        float: left;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        @include transition();
  
       
    }

    .logo_text{
        float: left;
        font-weight: 800;
        font-size: $font-size-h2;
        margin-top: -10px;
        margin-left: 10px;
        @include fadeInLeft();
        @include transition();
        @include no_select();
        
        &:hover{
            margin-left: 15px;
        }
    }

    .divisor_topbar{
      float: right;
        height: 40px;
        width: 0;
        height: 55px;
        border: solid 1px #555555;
        margin-right: 15px;
        margin-top: 20px;
        opacity: 0.2;
    }

    .notification_bell{
        float: right;
        color: #fff;
        margin-right: 15px;
        margin-top: 20px;
        @include align_comps(); 
        .new_notification_flag{
            position: relative;
            top:-5px;
            right: -2px;
        }
    }

    @media only screen and (max-width: $screen-sm) {
        .name_profile, .institution, .arrow_profile i, .divisor_topbar{
            display: none;

        }

        .logo_text{
            font-size: 20px;
        }
        .mini_profile{
                .photo_profile{
                    float: right;
                    width: 45px;
                    height: 45px;
                    margin-left: 10px;
                    margin-top: 5px;
                    background-color: $brand-primary;
            
                }
            
        }
    }


    
}