.photo_profile{

    width: 55px;
    height: 55px;
    background-color: $brand-primary;
    background-image: url('../../imgs/avatar.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%; 
    background-position: center center;
    border-radius: 300px;
    @include fadeIn();
    @include transition();
    &:hover{
        background-size: auto 150%; 
    }

}