//Use default html - Enjoy :D
/*
<div class="switches_m" id="toggles">
  <input type="checkbox" name="checkbox1" id="myid" class="ios-toggle checkbox2" checked/>
  <label for="myid" class="checkbox-label" data-off="my_off_text" data-on="my_on_text"></label>
</div>
*/


@mixin switches_size( $value ){

    $scale: 0.75;
    $size_f: 16px;

    @if $value == s {
            $scale: 0.6;
            $size_f: 19px;

    }@else if $value == m {
            $scale: 0.75;
            $size_f: 16px;
    
    }@else if $value == l {
            $scale: 1;
            $size_f: 14px;
    
    } @else if $value == xs {
        $scale: 0.4;
        $size_f: 20px;

} 

    width:60px;
    margin: 23px auto 0;
    text-align:center;
    transform: scale( $scale );

    

*,*:before,*:after{
    box-sizing:border-box;
    margin:0;
    padding:0;
    /*transition*/
    -webkit-transition:.25s ease-in-out;
       -moz-transition:.25s ease-in-out;
         -o-transition:.25s ease-in-out;
            transition:.25s ease-in-out;
    outline:none;
    font-family:Helvetica Neue,helvetica,arial,verdana,sans-serif;
    }
  
    .ios-toggle,.ios-toggle:active{
    position:absolute;
   // top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;

  
    }
    .checkbox-label{
    display:block;
    position:relative;
    padding:10px;
    // margin-bottom:20px;
    font-size: $size_f;
    line-height:16px;
    width:100%;
    height:36px;
    /*border-radius*/
    -webkit-border-radius:18px;
       -moz-border-radius:18px;
            border-radius:18px;
    background:#f8f8f8;
    cursor:pointer;
    }
    .checkbox-label:before{
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    line-height:34px;
    text-indent:40px;
    height:36px;
    width:36px;
    /*border-radius*/
    -webkit-border-radius:100%;
       -moz-border-radius:100%;
            border-radius:100%;
    top:0px;
    left:0px;
    right:auto;
    background:white;
    /*box-shadow*/
    -webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
       -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
            box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    }
    .checkbox-label:after{
    content:attr(data-off);
    display:block;
    position:absolute;
    z-index:0;
    top:0;
    left:-300px;
    padding:10px;
    height:100%;
    width:300px;
    text-align:right;
    //color:#bfbfbf;
    white-space:nowrap;
    }
    .ios-toggle:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px $brand-success,0 0 0 2px $brand-success;
       -moz-box-shadow:inset 0 0 0 20px $brand-success,0 0 0 2px $brand-success;
            box-shadow:inset 0 0 0 20px $brand-success,0 0 0 2px $brand-success;
    }
    .ios-toggle:checked + .checkbox-label:before{
    left:calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
       -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
            box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    }
    .ios-toggle:checked + .checkbox-label:after{
    content:attr(data-on);
    left:60px;
    width:36px;
    }
    /*  CHECKBOX Success */
    
    .checkbox1 + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 0px $brand-success,0 0 0 2px #dddddd;
       -moz-box-shadow:inset 0 0 0 0px $brand-success,0 0 0 2px #dddddd;
            box-shadow:inset 0 0 0 0px $brand-success,0 0 0 2px #dddddd;
    }
    .checkbox1:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 18px $brand-success,0 0 0 2px $brand-success;
       -moz-box-shadow:inset 0 0 0 18px $brand-success,0 0 0 2px $brand-success;
            box-shadow:inset 0 0 0 18px $brand-success,0 0 0 2px $brand-success;
    }
    .checkbox1:checked + .checkbox-label:after{
    color:$brand-success;
    }
    /*  CHECKBOX Primary */
    
    .checkbox2 + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 0px $brand-primary,0 0 0 2px #dddddd;
       -moz-box-shadow:inset 0 0 0 0px $brand-primary,0 0 0 2px #dddddd;
            box-shadow:inset 0 0 0 0px $brand-primary,0 0 0 2px #dddddd;
    }
    .checkbox2:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px $brand-primary,0 0 0 2px $brand-primary;
       -moz-box-shadow:inset 0 0 0 20px $brand-primary,0 0 0 2px $brand-primary;
            box-shadow:inset 0 0 0 20px $brand-primary,0 0 0 2px $brand-primary;
    }
    .checkbox2:checked + .checkbox-label:after{
    color: $brand-primary;
    }
 
    
    

}
.switches_xs { @include switches_size(xs); } //SMALL
.switches_s { @include switches_size(s); } //SMALL
.switches_m { @include switches_size(m); } // MEDIUM
.switches_l { @include switches_size(l); } // LARGE

.switches_block{
        opacity: 0.2;

}