// ==== Functions and mixins

// Rem is the new set in font size that mixin calculate and return pixel and rem size
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

//Align components
@mixin align_comps($vertical:center, $horizontal:center){
    display: flex;
    align-items: $vertical;
    justify-content: $horizontal;

}

//margin auto
@mixin push--auto {
    margin: { 
        left: auto;
        right: auto;
    }
}

// transition
@mixin transition($duration:0.3s, $ease: ease, $pointer: true){
    @if($pointer){
    cursor: pointer;
    }
    -webkit-transition: all $duration $ease;
    -moz-transition: all $duration $ease;
    -ms-transition: all $duration $ease;
    -o-transition: all $duration $ease;
    transition: all $duration $ease;
}

//scale comp
@mixin scale($value: 1.05){
    -webkit-transform: scale($value);
    -ms-transform: scale($value);  
    transform: scale($value); 
}

$shadow_small: 0px 0px 3px rgba(000, 000, 000, 0.10);
$shadow_medium: 0px 0px 6px rgba(000, 000, 000, 0.15);
$shadow_large: 0px 5px 15px rgba(000, 000, 000, 0.2);
$shadow_extra: 0px 10px 9px 0 rgba(0,0,0,0.11);
@mixin shadow($type:medium){

    $current_shadow: $shadow_medium;

    @if $type == small {
        $current_shadow: $shadow_small;
      } @else if $type == medium {
        $current_shadow: $shadow_medium;
      } @else if $type == large {
        $current_shadow: $shadow_large;
      } @else if $type == extra {
        $current_shadow: $shadow_extra;
      } @else {
        $current_shadow: $shadow_medium;
      }

    box-shadow:  $current_shadow;
}

@mixin no_select(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


@mixin placeholder($color:$gray-base, $font-size: 16px, $opacity:0.7){
    ::placeholder {
        color: $color;
        opacity: $font-size; 
        font-size: $opacity;
    }
    
    :-ms-input-placeholder { 
        color: $color;
        opacity: $font-size; 
        font-size: $opacity;
    }
    
    ::-ms-input-placeholder { 
        color: $color;
        opacity: $font-size; 
        font-size: $opacity;
    }
}