//==================== Global Style Dependencies ==================== //


//=== Themes
//@import 'stylethemes/bee'; // BEE THEME
@import 'stylethemes/candy'; // CANDY THEME



//=== _Lybraries
@import 'stylelibraries/_bootstrap3/_bootstrap-compass';
@import 'stylelibraries/_bootstrap3/_bootstrap';
@import 'stylelibraries/_animate/animate';
@import 'stylelibraries/_fontawesome/fontawesome';
@import 'stylelibraries/_fontawesome/fa-brands';
@import 'stylelibraries/_fontawesome/fa-solid';
@import 'stylelibraries/_themify-icons/_themify-icons';


//=== Tools
@import 'styletools/mixins';
@import 'styletools/_switches';


// === Components
@import '../../components/component_top_bar/component_top_bar';
@import '../../components/component_logo/component_logo';
@import '../../components/component_icon_bell/component_icon_bell';
@import '../../components/component_mini_profile/component_mini_profile';
@import '../../components/component_photo_profile/component_photo_profile';
@import '../../components/component_road_bar/component_road_bar';
@import '../../components/component_jumbo_banner/component_jumbo_banner';
@import '../../components/component_title_area/component_title_area';
@import '../../components/component_search_bar/component_search_bar';
@import '../../components/component_notification_area/component_notification_area';



//=== GLOBAL
*{
    outline: none !important;
}

body{
    
    color: $gray-base;
    overflow-x: hidden;
    @include fadeIn();
}



section{
   margin-top: 20px;
}



.btn_icon {
    float: right;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    color: $gray-light;
    font-size: 18px;
    margin-left: 0px;
    font-weight: bolder;
    @include transition();

    &:hover {
        color: $brand-primary;
       // @include swing();
    }
}





// ==========   COMPONENT ICON MENU LEFT ============= //
.left_menu{
     float: left;
    background-color: #8B99A5;
    height: 100%;
    width: 50px;
    color: #fff;
    @include align_comps();
    @include transition();
    &:hover{
        opacity: 0.8;
    }
}




//======== COMP BUTTON SCROLL TOP ======== //
.button_scroll_top{
    float: right;
    width: 39px;
    height: 29px;
    background-color: $navbar-inverse-bg;
    color: $navbar-inverse-color;
    border-radius: 0px 0px 7px 7px; 
    @include align_comps();
    @include transition();
    &:hover{
        padding-bottom: 8px;
        opacity: 0.8;
    }

}




// Course Classes
.mosaic {

    padding: 0px;
    width: 90%;
    margin: auto;

    // Progress bar
    .progress {
        float: left;
        border-radius: 50px;
        margin: 20px 0 0;
        position: relative;
        height: 15px;
        width: 40%;
        @include transition();
        &:hover{
            @include scale($value:1.18);
        }
      

        .progress-bar {
            font-size: 10px;
            line-height: 1.7;
          
        }
    }

    .class_inner {
        background: $box_discipline;
        border-radius: $mosaic-border-radius;
        @include shadow();
        display: block;
        margin-bottom: 30px;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        @include transition($duration: 0.15s);

        .painel_box_area_bottom{
            margin-top: 10px;
            // background-color: green;
            width: 100%;
            height: 30px;
        }


        .painel_box_area_top{
            position: absolute;
            top: 0px;
            width: 100%;
            height: 20px;
            padding: 3%;
            padding-right: 4%;
           // background-color: green;
           z-index: 3;

           .btn_box{
               font-size: 22px;
           }
        }

      
    

        .cape_box_mosaic {

            border-radius: $mosaic-border-radius $mosaic-border-radius 0px 0px;
            width: 100%;
            height: 120px;
            background-color: #eee;
            background-image: url('../../imgs/banner_small.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% auto;

            @include transition($duration: 0.25s);


            &:hover {
                background-size:120% auto;
                //  @include shadow($type:large);
            }

            i{
              text-align: center;
              padding: 18%;
              font-size: 55px;
              color: $brand-primary;
              @include align_comps();
              @include transition();
              &:hover{
                  @include pulse($duration:0.4s);
              }
            }
        }

        .cape_students{
            background-image: url('../../imgs/banner_students.jpg') !important; 
        }



        .icon_box{
            background-image: none;
            background-color: #fff;
        }
       

        .title_box {
            display: block;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: $gray-dark;
            font-size: 18px;
            @include no_select();
            
        }

        .subtitle_box{
            display: block;
            overflow: hidden;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 12px;
            @include no_select();
            
        }

        .padding_list {
            padding: 4% 6%;
            position: relative;
            // min-height: 110px;
            @include transition();
            &:hover{
                color: $gray-dark;
            }

        }


        .btn_box {
            float: right;
            background: transparent;
            border: none;
            margin: 0;
            padding: 0;
            bottom: 0;
            color: $gray-light;
            font-size: 18px;
            margin-left: 9px;
            font-weight: bolder;
            @include transition();

            &:hover {
                color: $brand-primary;
               // @include swing();
            }
        }

        &:hover {
           @include scale(); 
        }
    }

    a.curse {
        background: $mosaic-bg-color;
        
        @include shadow($type:large);
        // box-shadow: 0 10px 20px transparent, 0 0px 10px rgba(0, 0, 0, 0.1);

        border-radius: $mosaic-border-radius;

        display: block;
        margin-bottom: 30px;
        padding: 40% 15%;
        position: relative;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        @include transition($duration: 0.15s);

        .progress {
            width: 100%;
          
        }

        span {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &:hover {
            @include scale(); 
        }
    }



    .color_manager{
        color: $color-manager !important;
    }


    .color_teacher{
        color: $color-teacher !important;
    }

    .color_default{
        color: $gray !important;
    }



   

}


@media only screen and (max-width: $screen-xs) {
    .mosaic {
        width: 95%;
        .col-xs-6 {
            width: 100%;
        }
    }
}


@media only screen and (max-width: $screen-sm) {
    .mosaic {
        width: 95%;
        margin-left: 10px;
        padding: 40px 15px;
    }
}







//=========== COMP Pagination ====== //
.pagination_area{
    width: 90%;
    margin: auto;
    height: 60px;

    ul{
        float: left;
        margin-left: -16px;
    }
    li{
        display: inline;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #fff;
        border-radius: 5px;
        color: $gray-light;
        @include shadow(small);
        @include transition();
        @include no_select();
        font-size: 12px;

        &:hover{
            background-color: $brand-primary;
            color:#fff;
            padding-bottom: 9px;
            padding-top:9px;
            
            
        }
    }  
}

@media only screen and (max-width: $screen-xs) {
    .pagination_area{
        width: 100%;

        ul{
            float: left;
            margin-left: 0px;
        }

        li{
            display: inline;
            padding: 5px;
            padding-left: 7px;
            padding-right: 7px;
    }
}
}
//=========== END COMP Pagination ====== //




//========= Comp LOADER ======//
.profile-main-loader{
    width: 100%;
    height: 0px;
    position: fixed !important;
    bottom: 12% !important;
    z-index: 9000 !important;

}

.profile-main-loader .loader {
  position: relative;
  margin: 0px auto;
  width: 60px;
  height:60px;
}


.circular-loader {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
}

.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}
@-webkit-keyframes color {
  0% {
    stroke: $color-manager;
  }
  40% {
    stroke: $color-publisher;
  }
  66% {
    stroke: $color-teacher;
  }
  80%, 90% {
    stroke: $color-marketplace;
  }
}
@keyframes color {
    0% {
        stroke: $color-manager;
      }
      40% {
        stroke: $color-publisher;
      }
      66% {
        stroke: $color-teacher;
      }
      80%, 90% {
        stroke: $color-marketplace;
      }
}
//========= End Comp Loader ======//





// COMP ACCORDION

.accordion_group{
    .accordion-toggle:before {
            font-family: 'themify';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            
            content: "\e64b \00a0\00a0";
            margin-left: 20px;
            float: left;        

    }


    .btn_accordion{
        color: $gray;
    }

    .accordion-toggle.collapsed:before {
            content: "\e649 \00a0\00a0";     
    }



        .panel-heading_accordion{
            // padding-top: 25px;
            // padding-bottom: 25px;
            height: 60px;
            background-color: #fff !important;
            @include no_select();
            @include transition();
            font-size: 14px;
            padding-left: 0px;

            i{
                margin-right: 10px;
            }

            span{
                color: $brand-primary;
                font-weight: bold;
                // font-size: 15px;
            }

            &:hover{
                margin-left: 5px;
                        
            }
        }

        .panel-body_accordion {
            border:none !important;
        }


        .panel_accordion{
            border:none;
            border-radius: 5px !important;
            @include shadow($type:large);
            margin-bottom: 15px;

        }


        .title_accordion_label{
            margin-top: 10px;
            //min-height: 20px;
        }

        .area_line_one{
            float: left;

            
        }

        .area_line_two{
            float: right;
        }



        @media only screen and (max-width: $screen-xs) {

            .panel-heading_accordion{
                height: 70px;
            }


                
        }


        @media only screen and (max-width: $screen-sm) {
            
        }

}

// END COMP ACCORDION



// ====COMP SUB ACCORDION===== //
.sub_accordion{
    //padding-left: 10px;

    @include scale(0.9);


    .title{
        font-size: 16px;
        font-weight: bold;
        color: $brand-primary;
        text-align: left;
        border-top:none !important;
    }
}
// ==== END COMP SUB ACCORDION===== //


//======== COMP MODAL =====//
.modal_default{
    .switches_title{
        float: left;
        height: 0px;
        margin-top: 2px;
        z-index: 9000;
    }

    h4{
        margin-left: 60px;
        font-size: 20px;
    }




    .area_title_modal{
        float: left;
        text-align: left;
        @include no_select();
    }



    .switches_tittle_modal{
        margin-top: 8px;
        float: left;

    }

    

    .modal-content {
        border-radius: 20px;
    }

    .ohter_info_modal{
        float: right;
        margin-right: 30px;
        margin-top: 10px;
        font-size: 13px;
        color: $gray-light;

        @include no_select();
    }

    .modal-title{
        font-size: 18px;
        color: $gray-dark;
        font-weight: bold;
    }

    .subtitle_modal{
        font-size: 13px;
        color: $gray-light;
    }

    .icon_modal{
        font-size: 30px;
        float: left;
        margin-right: 10px;
        padding-left: 5px;
        border-left: solid 1px $gray-light;
    
    }



    @media only screen and (max-width: $screen-xs) {

            
    }


    @media only screen and (max-width: $screen-sm) {

        .ohter_info_modal{
           
            width: 100%;
            float: left;
                margin: auto;
                margin-top: 10px;
                @include align_comps();
            }
        
    }


}




.inter_line{
    font-size: 13px;
    // width: 100%;
    margin: auto;
    // font-size: 13px;
    padding: 5px;
     border-top: solid 1px $gray-lighter;
    //border-bottom: solid 1px $gray-lighter;


    .inter_line_input_number{
        width: 40px;
    }


}

    .link_interline{
        @include transition();

        &:hover{
            color: $brand-primary;
        }
    }
    .icon_interline::before{

        font-family: 'themify';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;

            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: $gray;
            float: left;
            content: "- \00a0";



    }

    .icon_interline.collapsed:before {
        content: "+ \00a0";
    }


    .icon_interline:link{
        text-decoration: none;
    }

    @media only screen and (max-width: $screen-xs) {


        .icon_interline::before,  .icon_interline.collapsed:before {
                content: "";
    
        }
            
    }



















    



   

//========== COMP AREA DIVIDER ====== //
    .area_divider {


        .bg-image {
            background-color: #fff;
            height: 100vh;
            overflow: hidden;
        }
      }
      


    // =========== COMP LOGIN ========== //

    .content-login {
        background-color: #fff;
        height: 100vh;
        @include align_comps();
        @include fadeInDown($delay: 0.2s);

        


        .area_login_logo{
            width: 40%;
            height: auto;
            margin: auto;
        }

        .logo_text{
            width: 100%;
            margin: auto;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            
            color: $gray-dark;
            @include no_select();
        }

        .slogan{
            width: 100%;
            margin: auto;
            text-align: center;
            font-size: 13px;
            margin-top: -10px;
            color: $gray-light;
            height: 50px;
        }


        .form-middle-page {
            margin: 0 auto;
            position: relative;
            //top: 20%;
            width: 65%;
        }


  
        .logo_aulapp {
            margin: 0 auto;
            width: 80%;
        }
  
        .form_login {
           // margin-top: 40px;
  
            .link_forget {
                float: right;
                margin: 10px 0;
                @include transition();

                &:hover{
                    text-decoration: none;
                }
            }
  
            .btn_login {
                border-radius: 0;
                float: right;
                height: 50px;
                margin: 20px 0 0;
                padding: 5px 40px;
                @include transition();
            }
  
            .form-control {
                border-radius: 0;
                height: 50px;
            }
        }
    }


@media only screen and (max-width: 767px) {


      .form-middle-page {
          width: 75%;
      }

      .content-login {
          margin-top: 0;

          .checkbox {
              text-align: center;
          }

          .form_login {
              margin-top: -25px;
          }

          .form_login {

              .btn_login {
                  float: none;
                  margin: 15px auto 0;
                  display: block;
              }

              .link_forget {
                  display: block;
                  float: none;
                  margin: 15px auto 5px;
              }
          }
      }
  
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
  

      .content-login {
          height: auto;
          padding: 10% 0;

          .logo_aulapp {
              width: auto;
          }
      }

      .form-middle-page {
          top: 0;
          width: 75%;
      }
  
}
// =========== END LOGIN ========== //




//======== COMP NEW ITEM ACCORDION ======//
.new_item_accordion{

    text-align: center;
    @include no_select();

    .input_area{
        @include align_comps();
        margin-top: 10px;
        margin-bottom: 20px;
    }

    input{
        height: 33px;
        text-align: center;
    }

    .btn{
        margin-top: -3px;
        margin-left: 10px;
    }

}
//======== END COMP NEW ITEM ACCORDION ======//






//======= COMP MINI MODAL =======//
.mini_modal{
    //margin-top: 60%;
    margin-left: 10px;
    width: 80%;
    max-width: 500px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    @include shadow($type:large);
    @include fadeInDown();


    .title_mini_modal{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: $gray-dark;
        margin-bottom: 20px;
    }

    .icon_mini_modal{
        font-size: 50px;
        color: $gray-lighter;
        text-align: center;

        .good{
            color: #bedd96;
        }

        .evil{
            color: #df8b8b; 
        }

    }

    .button_area_mini_modal{
        margin-top: 10px;
        margin-bottom: 10px;
    }


    .input_mini_modal{
        input{
            width: 100%;
            height: 50px;

            margin-top: 10px;
            margin-bottom: 10px;

            
            padding: 30px;
            @include transition();
            border: solid 1px;

            &:focus{
                border: solid 1px $brand-primary;
            }

        }
    }

    .button_area_mini_modal{
        input{
            float: right;
           // background-color: $gray;
            border:none;
            min-width: 90px;
            height: 40px;
            @include transition();
        }
    }
}
//======= END COMP MINI MODAL =======//



.area_try_aulapp{
    position: absolute;
    bottom: 40px;
    height: 0px;
    width: 100%;
    //@include fadeIn($delay:0.7s);

}
.try_aulapp{
    
    //width: 100%;
    //margin: auto;
    float: left;
    height: 40px;
    // padding-top: 10px;
    font-size: 13px;
    min-width: 350px;
    padding: 10px;
    //background-color: #fff;
   // border-radius: 10px;

   // border-radius: 20px 20px 0px 0px;
   // @include shadow();
    text-align: center;

   
    span{
    @include transition();
    &:hover{
        color: $brand-primary;
        //margin-left: 5px;
    }
    }
    
}



.area_profile{
    position: fixed;
    right: 0px;
    top: 0px;
    width: 95%;
    max-width: 350px;
    min-height: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 4;
    padding: 20px;
    font-size: 13px;
    @include no_select();
    @include shadow();
    @include fadeInDown();

    .area_top{
        margin-top: 25px;
    }

    .title_area_profile{
        font-size: 16px;
        font-weight: bold;
        color: $gray-dark;
    }
    .sub_title_area_profile{
        font-size: 13px;
        color: $gray-lighter;
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .photo_profile{
        width: 70px;
        height: 70px;
        margin: auto;
    }

    .edit_and_mark{
        margin-top: 10px;
        font-size: 18px;
        color: $gray-dark;
    }

    .bottom_area_profile{
       // background-color: rgb(190, 225, 231);
        background-image: url('../../imgs/progress_banner.jpg');
        background-size: 100% auto;
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0px;
        margin-left: -5px;
        padding: 10px;

        .text_profile{

            .text_link{
                position: relative;
                top: -20px;
                width: 100%;
                font-size:15px;
                color: $gray-dark;
                text-align: right;
                font-weight: normal;
                @include transition();

                &:hover{
                    color: $brand-primary;
                }
                
            }
            float: right;
            margin-top: -10px;
            margin-right: 10px;
            font-size: 25px;
            font-weight: bolder;
           text-shadow: 0px 3px 10px rgba(255,255,255, 0.5);
        }
    }


   .mini_modal{
       margin-top: 20px;
       width: 100%;
   }

   
    
}


// ===== COMP EDIT AND MARK ====//
.edit_and_mark{

    @include no_select();
    @include transition();
    &:hover{
        margin-left: 3px;
    }
}



//======== COM drop_clean ===== //
.drop_clean{

    width: 95%;
    margin: auto;
    color: $gray-dark;
    font-size: 15px;

    @include transition();

    span{
        float: right;
    }
}