.title_area{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
    @include no_select();

    h3{
        color: $gray-darker;
        line-height: 0.85;
    }
    div{
        font-size: 16px;
    }
}